// custom variables
$primary: #204e2f;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_mixins";

// Custom Bootstrap variable overrides
$enable-shadows: false;
$input-btn-focus-box-shadow: none; // Remove the box-shadow
$input-focus-border-color: $primary; // Custom focus border color

// Custom spacing values
$spacing-0: 0;
$spacing-xs: 0.8rem; // 8px
$spacing-sm: 1.6rem; // 16px
$spacing-md: 2.4rem; // 24px
$spacing-lg: 3.2rem; // 3.2px
$spacing-xl: 4.8rem; // 48px
$spacing-xxl: 8rem; // 80px
$spacing-huge: 9.6rem; // 96px

// Override the default spacers map with custom values
$spacers: (
  "0": $spacing-0,
  "xs": $spacing-xs,
  "sm": $spacing-sm,
  "md": $spacing-md,
  "lg": $spacing-lg,
  "xl": $spacing-xl,
  "xxl": $spacing-xxl,
  "huge": $spacing-huge,
);

// import bootstrap
@import "../sass/layouts/media-queries";
@import "../node_modules/bootstrap/scss/bootstrap";

@import "../sass/base/variables";
@import "../sass/base/typography";
@import "../sass/custom/custom-bootstrap";
// Custom scss
@import "../sass/base/reset";

@import "../sass/base/utilities";
@import "../sass/components/buttons";
@import "../sass/layouts/header";
@import "../sass/layouts/footer";
@import "../sass/pages/home";
@import "../sass/pages/natural-bridge";
