.btn {
  font-size: 1.9rem;
  font-weight: 500;
  padding: 1.5rem 4rem;
  border: none;
}

.btn-primary {
  background-color: $brand-color;
  color: $text-white !important;

  &:hover {
    background-color: $lighten-brand-color;
  }
  &:active {
    background-color: $brand-color;
  }
  &:focus {
    outline: 2px solid $brand-color !important;
    outline-offset: 2px;
    box-shadow: none;
  }
}
