.form-label {
  font-size: 2rem;
  font-weight: 600;
}

.form-select-lg {
  font-size: 1.6rem;
  border-color: #57645e;
  border-width: 0.2rem;
  &:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0);
    outline: black;
  }
}
