// Override Bootstrap heading styles

body {
  font-family: $font-family;
  color: $text-strong-color;
  font-size: 1.8rem;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: $font-weight-bold;
  line-height: 1.2;
}

h1 {
  font-size: 4.4rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 3.6rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.8rem;
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
  font-weight: $font-weight-regular;
  letter-spacing: 0.5px;
}

a {
  &:link,
  &:visited {
    color: $brand-color;
  }
  &:hover,
  &:active {
    text-decoration: none;
  }
}
