$brand-color: #204e2f;
$lighten-brand-color: rgba(32, 78, 47, 0.8);
$text-strong-color: #04140d;
$text-weak-color: #3c4541;
$stroke-strong-color: #57645e;
$stroke-weak-color: #cdd1cf;
$fill-color: #e6e8e7;
$text-white: #fefefe;

$font-family: "Roboto", sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
