.hero {
  position: relative;
  .hero-image img {
    border-radius: 20px;
    height: 50rem;
    width: 100%;
    object-fit: cover;
    // filter: brightness(1);
  }

  .finding-park {
    // background: $text-white;
    // border: 1px solid black;
    // margin: -150px auto 60px auto;

    background: #fff; // Assuming $text-white is white, replace if necessary
    // border: 1px solid black;
    margin: 0 auto; // Center the form horizontally
    padding: 20px;
    position: absolute; // Position the form absolutely within the hero section
    bottom: -6%; // Adjust as necessary to move the form higher or lower
    left: 50%; // Center the form horizontally
    transform: translateX(-50%); // Center the form horizontally
    box-shadow: 0px 4px 8px rgb(4 20 13 / 39%);
    border-radius: 10px; // Add some border-radius for a nice look
    z-index: 10; // Ensure it is above the image
  }
  a {
    display: inline-block;
  }
}

.activities {
  .card {
    --bs-card-border-color: none !important;
  }
  .card-img-top {
    border-radius: 10px;
    margin-bottom: $spacing-sm;
  }
  .card-body {
    padding: $spacing-0;
  }
}

.section-parking {
  background: #f5f5f5;
  .link {
    display: inline-block;
    margin-left: $spacing-md;
  }
  .events ul {
    padding: $spacing-0;
  }
  .date-card {
    display: flex;
    flex-direction: row;
    padding: $spacing-sm 0;
    width: 100%;
    border-bottom: 1px solid $stroke-weak-color;
    // padding: $spacing-md;
    &:first-of-type {
      padding-top: 0; // Override padding for the first date-card
    }
  }
  .event-details {
    margin-left: 15px;
    h3 {
      font-size: 2rem;
    }
    a {
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .fancy-date {
    color: $text-white;
    background: $brand-color;
    height: 7rem;
    width: 7rem;

    padding: $spacing-md;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    border-radius: 100%;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .location,
  h3 {
    margin-bottom: $spacing-xs;
  }

  .parking-right {
    padding-left: $spacing-md;
  }

  img {
    border-radius: 8px;
  }
}
