.virginia-map {
  svg {
    width: 30rem;
    height: auto;
  }
}

.image-style-square {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.sidebar {
  background-color: $text-white;
  border: thin solid #cdd1cf54;
  padding: $spacing-lg;
  border-radius: 8px;
  word-wrap: break-word;
}

.icon-row {
  display: flex;
  align-items: end;
  .icon-container .icon {
    font-size: 3.5rem;
    margin: 0 $spacing-sm 0 0;
  }
}

.map {
  ul {
    padding-left: 0;
  }
  li {
    margin-bottom: $spacing-sm;
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.questions-container {
  background-color: #fefefe;
  border: thin solid #cdd1cf54;
  padding: 3.2rem;
  border-radius: 8px;

  .question-category {
    padding: 0 1.2rem;
  }

  .accordion-header .accordion-button {
    font-size: 2rem; // Adjust the size as needed
    color: $brand-color !important;
    font-weight: 500;
  }

  .accordion-item {
    border: none;
    border-radius: 0px !important;
    margin-bottom: $spacing-xs;

    // &:not(:first-child) {
    //   border-top: 1px solid $stroke-strong-color;
    // }

    &:first-child {
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
    }

    &:last-child {
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }

    .accordion-button {
      border-radius: 0px !important; // Ensure buttons do not have border-radius
    }
  }
}
