.virginia-map {
  svg {
    width: 30rem;
    height: auto;
  }
}

.image-style-square {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.sidebar {
  background-color: $fill-color;
  border: 3px solid black;
  padding: $spacing-lg;
}
