.skip-to-content-link {
  z-index: 4;
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
  background: white;
  color: black !important;
  font-weight: 500;
  font-size: 1.8rem;
  height: auto;
  line-height: 1;
  text-align: center;
  left: 50%;
  padding: 1.5rem;
  position: absolute;
  transform: translate(-50%, -100%);
  transition: transform 0.3s;
  // border-bottom: 4px solid $brand-color;
}
.skip-to-content-link:focus {
  transform: translate(-50%, 0);
}
.va-bar {
  background: #212121;
  color: #fff;
  display: flex;
  justify-content: space-between;
  // display: flex;
  // align-items: center;
  // @include tablets {
  //   flex-direction: column;
  // }

  .cardinal-logo {
    img {
      width: 9rem;
      padding: 0.5rem 1rem;
      @include tablets {
        width: 8rem;
      }
    }
    display: flex;
    align-items: center;
  }

  .dcr {
    // display: flex;
    // align-items: center; // Center link vertically
    // padding-left: 1rem;
    // @include tablets {
    //   padding-left: 0;
    // }
    a {
      color: $text-white;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 700;
      @include sm-phone {
        text-align: center;
        font-size: 1.5rem;
      }

      &:focus {
        outline: 3px solid $text-white !important;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .va-bar-grouping {
    display: flex;
    justify-content: space-between;
    @include tablets {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  }

  .button {
    // margin-left: auto;
    padding: 1.5rem 2rem;
    background: #383939;
    cursor: pointer;
    @include tablets {
      margin-left: 0;
      margin-top: $spacing-sm;
      width: 100%;
    }
    &:hover {
      background: #ba1a1a;
    }
    a {
      color: $text-white;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 500;

      &:focus {
        outline: 3px solid #fff !important;
      }

      span {
        margin-left: 0.5rem;
      }
    }
  }
}

.navbar {
  border-bottom: thin solid #cdd1cf;
  .navbar-nav {
    .nav-item {
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
      @include tablets {
        margin-right: 0;
      }
    }

    .nav-link {
      color: $text-strong-color;
      font-weight: 400;
      font-size: 1.9rem;
      &:visited,
      &:active {
        color: $text-strong-color;
      }
      &:hover {
        color: $brand-color;
        text-decoration: underline;
      }
      &:focus {
        color: $brand-color;
        outline: 3px solid $brand-color;
        text-decoration: underline;
      }
    }
  }
  .search-form {
    display: flex;

    border-radius: 4px; // Rounded corners

    .search-input {
      flex-grow: 1; // Takes up the remaining space
      border: none;
      line-height: 32px;
      padding: 0 10px;
      border: 1px solid #57645e;

      &:focus {
        outline: none;
      }
    }

    .search-button {
      background-color: $brand-color;
      color: white;
      border: none;
      padding: 0 20px;
      border-radius: 0 4px 4px 0; // Rounded corners on the right

      &:focus {
        outline: none;
      }
    }
  }

  // form {
  //   @include tablets {
  //     display: flex;
  //     justify-content: center;
  //     margin: $spacing-sm 0;
  //     gap: $spacing-xs;
  //   }
  // }

  .navbar-brand {
    display: inline-block; /* Ensure it covers the image */
    outline: none; /* Remove default outline */

    // &:focus {
    //   outline: 3px solid #005891; /* Adjust color to match your brand color */
    //   padding: 0; /* Adjust this value as needed to fit the focus border correctly */
    //   outline-offset: 0px; /* Adjusts the spacing between the border and the element */
    // }

    a:focus {
      outline: 3px solid #005891 !important; /* Solid blue focus border */
      outline-offset: 0px; /* Adjust if the outline needs more space around the element */
    }

    img {
      height: 14rem;
      width: auto;
      margin-bottom: -6rem;
      @include tablets {
        height: 12rem;
      }
      @include sm-phone {
        height: 10rem;
      }
    }
  }
  .navbar-toggler {
    border: thin solid transparent;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='%23204e2f' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 5h22M4 15h22M4 25h22'/%3E%3C/svg%3E");
  width: 44px;
  height: 35px;
}

.navbar-toggler.active .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cpath stroke='%23204e2f' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M10 10l20 20M10 30L30 10'/%3E%3C/svg%3E");
}
