.va-bar {
  background: #212121;
  color: #fff;
  display: flex;
  align-items: center; // Center items vertically

  .cardinal-logo {
    img {
      width: 9rem;
      padding: 0.5rem 1rem;
    }
  }

  .dcr {
    display: flex;
    align-items: center; // Center link vertically
    padding-left: 1rem;

    a {
      color: $text-white;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 700;

      &:focus {
        outline: 3px solid $text-white !important;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .button {
    margin-left: auto;
    padding: 1.5rem 2rem;
    background: #383939;
    cursor: pointer;
    &:hover {
      background: #ba1a1a;
    }
    a {
      color: $text-white;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 500;

      &:focus {
        outline: 3px solid #fff !important;
      }

      span {
        margin-left: 0.5rem;
      }
    }
  }
}

// nav {
//   // display: flex;
//   // align-items: center;
//   // height: 10rem;
//   // border-bottom: 1px solid #cdd1cf;
// }

.navbar {
  // background: #f5f5f5;

  // Cant decide which one I like...
  border-bottom: 1px solid #cdd1cf;
  border-bottom: thin solid rgba(205, 209, 207, 0.33);
  border-bottom: thin solid #cdd1cf;
  .navbar-nav {
    .nav-item {
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
    }

    .nav-link {
      color: $text-strong-color;
      font-weight: 400;
      font-size: 1.9rem;
      &:visited,
      &:active {
        color: $text-strong-color;
      }
      &:hover {
        color: $brand-color;
        text-decoration: underline;
      }
      &:focus {
        color: $brand-color;
        outline: 3px solid $brand-color;
        text-decoration: underline;
      }
    }
    
  }

  .navbar-brand {
    display: inline-block; /* Ensure it covers the image */
    outline: none; /* Remove default outline */

    // &:focus {
    //   outline: 3px solid $brand-color; /* Custom focus outline */
    // }

    img {
      height: 140px;
      width: auto;
      margin-bottom: -6rem;
    }
  }
}
